body {
  background: rgba(33, 33, 11, 0.798);
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: hidden;
  position: fixed;
  background-size: cover;
}

div.jsterm a {
  background: rgba(83, 33, 11, 0.798);
  color: #f66301;
  font-weight: bold;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 29px;
  font-family: monospace;
  font-style: normal;
}

div.jsterm a:hover {
  text-decoration: underline;
}

div.jsterm {
  background: rgba(83, 33, 11, 0.798);
  font-family: monospace;
  font-size: 29px;
  color: #ff9900;
  text-shadow:
    0 0 1px #fff,
    0 0 5px rgba(255, 120, 0, 0.7),
    0 0 8px rgba(255, 150, 0, 0.6);
  font-weight: bold;
  width: 900px;
  margin-bottom: 20px;
  white-space: pre-wrap;
  line-height: normal;
}

div.jsterm .host,
div.jsterm .host a {
  color: #ff8800;
  font-weight: bolder;
  font-size: 29px;
}

div.jsterm .user,
div.jsterm .user a {
  color: #ff8800;
  font-weight: bold;
  font-size: 29px;
}

div.jsterm .cwd,
div.jsterm .cwd a {
  color: #888888;
  font-size: 29px;
  font-weight: bold;
}

div.jsterm .dir,
div.jsterm .dir a {
  color: orange;
  font-weight: bold;
  font-size: 29px;
}

div.jsterm .link,
div.jsterm .link a,
div.jstern .link a:visited {
  color: #090999;
  font-weight: bold;
    font-size: 29px;
}

div.jsterm .exec,
div.jsterm .exec a,
div.jstern .exec a:visited {
  color: #770099;
  font-weight: bold;
  font-size: 29px;
}

div.jsterm .img,
div.jsterm .img a {
  color: #428824;
  font-weight: bold;
  font-size: 29px;
}

div.jsterm .iframe,
div.jsterm .iframe a {
  color: brown;
  font-weight: bold;
  font-size: 29px;
}

div.jsterm .text,
div.jsterm .text a {
  color: orangered;
  font-size: 29px;
}

div.jsterm .eidogo,
div.jsterm .eidogo a {
  color: gold;
  font-weight: bold;
  font-size: 29px;
}
div.jsterm .text:hover,
div.jsterm .text a:hover {
  font-weight: bold;
  font-size: 29px;
}

#blinker {
  line-height: 0.9em;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 @keyframes crtFlicker {
  0%, 100% { text-shadow: 5px rgba(255, 120, 0, 0.6), }
  50% { text-shadow: 0 0 2px #fff, 0 0 4px rgba(255,255,255,0.5), 0 0 10px rgba(255,150,150,0.25); }
}
.crt-glow { animation: crtFlicker 3s infinite ease-in-out; }

