body {
  background: rgba(16, 16, 16, 0.860);
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: hidden;
  position: fixed;
  background-size: cover;
}

div.jsterm a {
  background: rgba(183, 93, 11, 0.398);
  color: #ff8833;
  font-weight: bold;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 31px;
  font-family: monospace;
  font-style: normal;
}

div.jsterm a:hover {
  text-decoration: underline;
}

div.jsterm {
  background: rgb(0, 0, 0, 0.8);
  font-family: monospace;
  font-size: 31px;
  color: #ff8833;
  text-shadow:
    0 0 5px rgba(255, 119, 0, 0.633),
    0 0 8px rgba(255, 150, 0, 0.456);
  font-weight: bold;
  width: 900px;
  margin-bottom: 20px;
  white-space: pre-wrap;
  line-height: normal;
}

div.jsterm .host,
div.jsterm .host a {
  color: #ff8833;
  font-weight: bolder;
  font-size: 31;
}

div.jsterm .user,
div.jsterm .user a {
  color: #ff8833;
  font-weight: bold;
  font-size: 31px;
}

div.jsterm .cwd,
div.jsterm .cwd a {
  color: #888888;
  font-size: 31;
  font-weight: bold;
}

div.jsterm .dir,
div.jsterm .dir a {
  color: #ff8833;
  font-weight: bold;
  font-size: 31px;
}

div.jsterm .link,
div.jsterm .link a,
div.jstern .link a:visited {
  color: #ff8833;
  font-weight: bold;
    font-size: 31px;
}

div.jsterm .exec,
div.jsterm .exec a,
div.jstern .exec a:visited {
  color: #ff8833;
  font-weight: bold;
  font-size: 31px;
}

div.jsterm .img,
div.jsterm .img a {
  color: #ff8833;
  font-weight: bold;
  font-size: 31px;
}

div.jsterm .iframe,
div.jsterm .iframe a {
  color: #ff8833;
  font-weight: bold;
  font-size: 31px;
}

div.jsterm .text,
div.jsterm .text a {
  color: #ff8833;
  font-size: 31px;
}

div.jsterm .eidogo,
div.jsterm .eidogo a {
  color: #ff8833;
  font-weight: bold;
  font-size: 31px;
}
div.jsterm .text:hover,
div.jsterm .text a:hover {
  font-weight: bold;
  font-size: 31px;
}

#blinker {
  line-height: 0.9em;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



